<div class="row">
  <h1 class="center">
    Title: <%= @article.title %>
  </h1>
  <br>
</div>

<div class="row">
  <div class="panel panel-info col-xs-8 col-xs-offset-2">
    <h4 class="center"><strong>Id:</strong> <%= @article.id %></h4>
  </div>
</div>

<div class="row">
  <div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center"><strong>Description:</strong></h4>
    <hr>
    <%= @article.description %>
    <div class="article-actions">
      <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-primary btn-xs' %>
      <%= link_to "Destroy", article_path(@article), method: :delete,
                  data: {confirm: "Are you sure? "},
                  class: 'btn btn-danger btn-xs' %>
    </div>
  </div>
</div>
<br>

<%= render 'link_list_all' %>


