<h1>Show Article</h1>

<p><%= link_to "Edir article", edit_article_path(@article) %></p>


<p>Id : <%= @article.id %></p>

<p>Title : <%= @article.title %></p>

<p>Description : <%= @article.description %></p>

<%= render 'link_list_all' %>


